<a href="https://colab.research.google.com/github/grandff/kdn-machinelearning/blob/main/KDN_PJT_%EC%82%B0%EC%97%85%EC%A0%9C%EC%96%B4%EC%8B%9C%EC%8A%A4%ED%85%9C_%EB%B3%B4%EC%95%88_%EC%9C%84%ED%98%91_%ED%83%90%EC%A7%80_(ML%2C_%EC%8B%A4%EC%8A%B5).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 산업제어시스템(ICS) 보안 위협 탐지


### 학습 데이터
- 파일명
    - train.csv, test.csv, submission.csv
- 설명
    - 정상적인 운영 상황에서 수집된 데이터(각 파일별로 시간 연속성을 가짐)
- 데이터 구조
    - time : 관측 시간
    - P1 ~ P4 : 각 공정별 SCADA 데이터
    - attack : 공격 발생 여부 (train.csv만 존재)
- 데이터 설명
    - 수집 주기 : 78 points / sec

```
시간이 들어간 데이터이므로 아래의 모델들을 사용하면 좋음
1. xgboost, lightgbm
2. ARJMA ?
3. LSTM, GRU
```

In [26]:
# 실전 프로젝트 진행을 위한 패키지 다운로드
!pip install jaen

Requirement already satisfied: jaen in /usr/local/lib/python3.7/dist-packages (0.0.1)

In [27]:
import os
import glob
import time
import datetime

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
# 실전프로젝트 환경 설정
from JAEN.project import Project
pjt = Project('산업제어시스템 보안 위협 탐지(ML)', # 프로젝트 이름
              '한전KDN',                       # 과정명
              '1차수 A반',                     # 차수 정보
              '198080@kdn.com')                  # 이메일 (숫자@kdn.com) * 본인의 이메일로 수정

In [4]:
# 데이터 다운로드 및 압축 해제
!wget 'http://49.247.133.7/KDN_PJT_1.zip'
!unzip KDN_PJT_1.zip

--2021-10-06 02:27:35--  http://49.247.133.7/KDN_PJT_1.zip
Connecting to 49.247.133.7:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 81466724 (78M) [application/zip]
Saving to: ‘KDN_PJT_1.zip’

KDN_PJT_1.zip       100%[===================>]  77.69M  14.0MB/s    in 7.1s

2021-10-06 02:27:43 (11.0 MB/s) - ‘KDN_PJT_1.zip’ saved [81466724/81466724]

Archive:  KDN_PJT_1.zip
  inflating: submission.csv
  inflating: test.csv
  inflating: train.csv

In [29]:
# train.csv 파일을 읽어 train에 저장하세요.
train = pd.read_csv("train.csv")

In [30]:
# test.csv 파일을 읽어 test에 저장하세요.
test = pd.read_csv("test.csv")

In [31]:
# train 데이터 프레임의 정보를 조회하세요
 # .info의 목표
## 결측치 확인
## 모두 숫자형 컬럼인지 확인
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334802 entries, 0 to 334801
Data columns (total 81 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   time         334802 non-null  object
 1   P1_B2004     334802 non-null  float64
 2   P1_B2016     334802 non-null  float64
 3   P1_B3004     334802 non-null  float64
 4   P1_B3005     334802 non-null  float64
 5   P1_B4002     334802 non-null  float64
 6   P1_B4005     334802 non-null  float64
 7   P1_B400B     334802 non-null  float64
 8   P1_B4022     334802 non-null  float64
 9   P1_FCV01D    334802 non-null  float64
 10  P1_FCV01Z    334802 non-null  float64
 11  P1_FCV02D    334802 non-null  float64
 12  P1_FCV02Z    334802 non-null  float64
 13  P1_FCV03D    334802 non-null  float64
 14  P1_FCV03Z    334802 non-null  float64
 15  P1_FT01      334802 non-null  float64
 16  P1_FT01Z     334802 non-null  float64
 17  P1_FT02      334802 non-null  float64
 18  P1_FT02Z     334802 non-null  float64
 19  P1_FT03      334802 non-null  float64
 20  P1_FT03Z     334802 non-null  float64
 21  P1_LCV01D    334802 non-null  float64
 22  P1_LCV01Z    334802 non-null  float64
 23  P1_LIT01     334802 non-null  float64
 24  P1_PCV01D    334802 non-null  float64
 25  P1_PCV01Z    334802 non-null  float64
 26  P1_PCV02D    334802 non-null  float64
 27  P1_PCV02Z    334802 non-null  float64
 28  P1_PIT01     334802 non-null  float64
 29  P1_PIT02     334802 non-null  float64
 30  P1_PP01AD    334802 non-null  int64
 31  P1_PP01AR    334802 non-null  int64
 32  P1_PP01BD    334802 non-null  int64
 33  P1_PP01BR    334802 non-null  int64
 34  P1_PP02D     334802 non-null  int64
 35  P1_PP02R     334802 non-null  int64
 36  P1_STSP      334802 non-null  int64
 37  P1_TIT01     334802 non-null  float64
 38  P1_TIT02     334802 non-null  float64
 39  P2_24Vdc     334802 non-null  float64
 40  P2_ASD       334802 non-null  int64
 41  P2_AutoGO    334802 non-null  int64
 42  P2_CO_rpm    334802 non-null  float64
 43  P2_Emerg     334802 non-null  int64
 44  P2_HILout    334802 non-null  float64
 45  P2_MSD       334802 non-null  float64
 46  P2_ManualGO  334802 non-null  int64
 47  P2_OnOff     334802 non-null  int64
 48  P2_RTR       334802 non-null  int64
 49  P2_SIT01     334802 non-null  float64
 50  P2_SIT02     334802 non-null  float64
 51  P2_TripEx    334802 non-null  int64
 52  P2_VT01      334802 non-null  float64
 53  P2_VTR01     334802 non-null  int64
 54  P2_VTR02     334802 non-null  int64
 55  P2_VTR03     334802 non-null  int64
 56  P2_VTR04     334802 non-null  int64
 57  P2_VXT02     334802 non-null  float64
 58  P2_VXT03     334802 non-null  float64
 59  P2_VYT02     334802 non-null  float64
 60  P2_VYT03     334802 non-null  float64
 61  P3_FIT01     334802 non-null  float64
 62  P3_LCP01D    334802 non-null  float64
 63  P3_LCV01D    334802 non-null  int64
 64  P3_LH        334802 non-null  int64
 65  P3_LIT01     334802 non-null  float64
 66  P3_LL        334802 non-null  int64
 67  P3_PIT01     334802 non-null  float64
 68  P4_HT_FD     334802 non-null  float64
 69  P4_HT_LD     334802 non-null  float64
 70  P4_HT_PO     334802 non-null  float64
 71  P4_HT_PS     334802 non-null  int64
 72  P4_LD        334802 non-null  float64
 73  P4_ST_FD     334802 non-null  float64
 74  P4_ST_GOV    334802 non-null  float64
 75  P4_ST_LD     334802 non-null  float64
 76  P4_ST_PO     334802 non-null  float64
 77  P4_ST_PS     334802 non-null  int64
 78  P4_ST_PT01   334802 non-null  float64
 79  P4_ST_TT01   334802 non-null  float64
 80  attack       334802 non-null  int64
dtypes: float64(56), int64(24), object(1)
memory usage: 206.9+ MB

In [32]:
# test 데이터 프레임의 정보를 조회하세요
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190803 entries, 0 to 190802
Data columns (total 80 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   time         190803 non-null  object
 1   P1_B2004     190803 non-null  float64
 2   P1_B2016     190803 non-null  float64
 3   P1_B3004     190803 non-null  float64
 4   P1_B3005     190803 non-null  float64
 5   P1_B4002     190803 non-null  float64
 6   P1_B4005     190803 non-null  float64
 7   P1_B400B     190803 non-null  float64
 8   P1_B4022     190803 non-null  float64
 9   P1_FCV01D    190803 non-null  float64
 10  P1_FCV01Z    190803 non-null  float64
 11  P1_FCV02D    190803 non-null  float64
 12  P1_FCV02Z    190803 non-null  float64
 13  P1_FCV03D    190803 non-null  float64
 14  P1_FCV03Z    190803 non-null  float64
 15  P1_FT01      190803 non-null  float64
 16  P1_FT01Z     190803 non-null  float64
 17  P1_FT02      190803 non-null  float64
 18  P1_FT02Z     190803 non-null  float64
 19  P1_FT03      190803 non-null  float64
 20  P1_FT03Z     190803 non-null  float64
 21  P1_LCV01D    190803 non-null  float64
 22  P1_LCV01Z    190803 non-null  float64
 23  P1_LIT01     190803 non-null  float64
 24  P1_PCV01D    190803 non-null  float64
 25  P1_PCV01Z    190803 non-null  float64
 26  P1_PCV02D    190803 non-null  float64
 27  P1_PCV02Z    190803 non-null  float64
 28  P1_PIT01     190803 non-null  float64
 29  P1_PIT02     190803 non-null  float64
 30  P1_PP01AD    190803 non-null  int64
 31  P1_PP01AR    190803 non-null  int64
 32  P1_PP01BD    190803 non-null  int64
 33  P1_PP01BR    190803 non-null  int64
 34  P1_PP02D     190803 non-null  int64
 35  P1_PP02R     190803 non-null  int64
 36  P1_STSP      190803 non-null  int64
 37  P1_TIT01     190803 non-null  float64
 38  P1_TIT02     190803 non-null  float64
 39  P2_24Vdc     190803 non-null  float64
 40  P2_ASD       190803 non-null  int64
 41  P2_AutoGO    190803 non-null  int64
 42  P2_CO_rpm    190803 non-null  float64
 43  P2_Emerg     190803 non-null  int64
 44  P2_HILout    190803 non-null  float64
 45  P2_MSD       190803 non-null  float64
 46  P2_ManualGO  190803 non-null  int64
 47  P2_OnOff     190803 non-null  int64
 48  P2_RTR       190803 non-null  int64
 49  P2_SIT01     190803 non-null  float64
 50  P2_SIT02     190803 non-null  float64
 51  P2_TripEx    190803 non-null  int64
 52  P2_VT01      190803 non-null  float64
 53  P2_VTR01     190803 non-null  int64
 54  P2_VTR02     190803 non-null  int64
 55  P2_VTR03     190803 non-null  int64
 56  P2_VTR04     190803 non-null  int64
 57  P2_VXT02     190803 non-null  float64
 58  P2_VXT03     190803 non-null  float64
 59  P2_VYT02     190803 non-null  float64
 60  P2_VYT03     190803 non-null  float64
 61  P3_FIT01     190803 non-null  float64
 62  P3_LCP01D    190803 non-null  int64
 63  P3_LCV01D    190803 non-null  int64
 64  P3_LH        190803 non-null  int64
 65  P3_LIT01     190803 non-null  float64
 66  P3_LL        190803 non-null  int64
 67  P3_PIT01     190803 non-null  float64
 68  P4_HT_FD     190803 non-null  float64
 69  P4_HT_LD     190803 non-null  float64
 70  P4_HT_PO     190803 non-null  float64
 71  P4_HT_PS     190803 non-null  int64
 72  P4_LD        190803 non-null  float64
 73  P4_ST_FD     190803 non-null  float64
 74  P4_ST_GOV    190803 non-null  float64
 75  P4_ST_LD     190803 non-null  float64
 76  P4_ST_PO     190803 non-null  float64
 77  P4_ST_PS     190803 non-null  int64
 78  P4_ST_PT01   190803 non-null  float64
 79  P4_ST_TT01   190803 non-null  float64
dtypes: float64(55), int64(24), object(1)
memory usage: 116.5+ MB

In [33]:
# train 데이터 프레임의 attack 컬럼의 분포를 확인하세요.
train['attack'].value_counts()

0    331353
1      3449
Name: attack, dtype: int64

In [34]:
# P라는 글자가 들어간 컬럼만 선택하여 target_col 변수에 저장하세요.
  # 슬라이싱을 이용하거나 str.contains를 사용하세요.
## 행인덱스는 index, 열인덱스는 column
## .str는 문자열 접근자임
## train.columns.str ==> train.columns의 index 형태의 변수를 string 처럼 쓸 수 있게 바꿔줌
## contains ==> 특정 문자열 포함 유무 검사
target_cols = [col for col in train.columns if 'P' in col]
# target_col = train.columns[train.columns.str.contains('P')].to_list()  # 강사님이 쓴 방법
target_cols

['P1_B2004',
 'P1_B2016',
 'P1_B3004',
 'P1_B3005',
 'P1_B4002',
 'P1_B4005',
 'P1_B400B',
 'P1_B4022',
 'P1_FCV01D',
 'P1_FCV01Z',
 'P1_FCV02D',
 'P1_FCV02Z',
 'P1_FCV03D',
 'P1_FCV03Z',
 'P1_FT01',
 'P1_FT01Z',
 'P1_FT02',
 'P1_FT02Z',
 'P1_FT03',
 'P1_FT03Z',
 'P1_LCV01D',
 'P1_LCV01Z',
 'P1_LIT01',
 'P1_PCV01D',
 'P1_PCV01Z',
 'P1_PCV02D',
 'P1_PCV02Z',
 'P1_PIT01',
 'P1_PIT02',
 'P1_PP01AD',
 'P1_PP01AR',
 'P1_PP01BD',
 'P1_PP01BR',
 'P1_PP02D',
 'P1_PP02R',
 'P1_STSP',
 'P1_TIT01',
 'P1_TIT02',
 'P2_24Vdc',
 'P2_ASD',
 'P2_AutoGO',
 'P2_CO_rpm',
 'P2_Emerg',
 'P2_HILout',
 'P2_MSD',
 'P2_ManualGO',
 'P2_OnOff',
 'P2_RTR',
 'P2_SIT01',
 'P2_SIT02',
 'P2_TripEx',
 'P2_VT01',
 'P2_VTR01',
 'P2_VTR02',
 'P2_VTR03',
 'P2_VTR04',
 'P2_VXT02',
 'P2_VXT03',
 'P2_VYT02',
 'P2_VYT03',
 'P3_FIT01',
 'P3_LCP01D',
 'P3_LCV01D',
 'P3_LH',
 'P3_LIT01',
 'P3_LL',
 'P3_PIT01',
 'P4_HT_FD',
 'P4_HT_LD',
 'P4_HT_PO',
 'P4_HT_PS',
 'P4_LD',
 'P4_ST_FD',
 'P4_ST_GOV',
 'P4_ST_LD',
 'P4_ST_PO',
 'P4_ST_PS',
 'P4_ST_PT01',
 'P4_ST_TT01']

In [35]:
# train 데이터 프레임에서 target_col 컬럼만 추출하여 X에 저장하세요
X = train[list(target_cols)]

In [36]:
# train 데이터 프레임에서 attack 컬럼을 추출하여 Y에 저장하세요
Y = train['attack']
Y

0         0
1         0
2         0
3         0
4         0
         ..
334797    0
334798    0
334799    0
334800    0
334801    0
Name: attack, Length: 334802, dtype: int64

In [37]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import RobustScaler

from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier

from sklearn.metrics import classification_report

In [38]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, stratify=Y, random_state=0)

In [16]:
# LogisticRegression 모델을 이용하여 모델을 학습하세요.
  # random_state를 0으로 지정하세요.
model = LogisticRegression().fit(x_train, y_train)
model.score(x_train, y_train), model.score(x_test, y_test)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

(0.9896973727703196, 0.9897014372588141)

In [17]:
# test 데이터 프레임에서 target_col 컬럼만 추출하세요
predict_df = test[list(target_cols)]

In [18]:
# 학습된 모델을 사용하여 추출된 값을 예측하세요.
  # 예측 결과는 predict 변수에 저장하세요.
predict = model.predict(predict_df)

In [19]:
# submission.csv 파일을 읽어 submission에 저장하세요.
submission = pd.read_csv("submission.csv")

In [20]:
# submission 데이터 프레임의 attack 컬럼에 예측한 값을 대입하세요.
submission['attack'] = predict
submission

                       time  attack
0       2020-07-07 15:00:00       0
1       2020-07-07 15:00:01       0
2       2020-07-07 15:00:02       0
3       2020-07-07 15:00:03       0
4       2020-07-07 15:00:04       0
...                     ...     ...
190798  2020-07-28 22:59:56       0
190799  2020-07-28 22:59:57       0
190800  2020-07-28 22:59:58       0
190801  2020-07-28 22:59:59       0
190802  2020-07-28 23:00:00       0

[190803 rows x 2 columns]

In [21]:
# submission 데이터 프레임의 attack 컬럼에 분포(값별 개수)를 조회하세요.
submission['attack'].value_counts()

0    190803
Name: attack, dtype: int64

In [22]:
# pjt 객체의 submit 함수를 이용하여 결과를 제출하세요.
pjt.submit(submission)

파일을 저장하였습니다. 파일명: submission-02-47-27.csv
제출 여부 :success
오늘 제출 횟수 : 2
제출 결과:-0.017713700513104724

In [44]:
# train 데이터 프레임의 time 컬럼의 데이터 타입을 datetime64[ns] 형태로 변경하세요.
# to_datetime 함수를 사용하세요.
train['time'] = pd.to_datetime(train['time'])
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334802 entries, 0 to 334801
Data columns (total 81 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   time         334802 non-null  datetime64[ns]
 1   P1_B2004     334802 non-null  float64
 2   P1_B2016     334802 non-null  float64
 3   P1_B3004     334802 non-null  float64
 4   P1_B3005     334802 non-null  float64
 5   P1_B4002     334802 non-null  float64
 6   P1_B4005     334802 non-null  float64
 7   P1_B400B     334802 non-null  float64
 8   P1_B4022     334802 non-null  float64
 9   P1_FCV01D    334802 non-null  float64
 10  P1_FCV01Z    334802 non-null  float64
 11  P1_FCV02D    334802 non-null  float64
 12  P1_FCV02Z    334802 non-null  float64
 13  P1_FCV03D    334802 non-null  float64
 14  P1_FCV03Z    334802 non-null  float64
 15  P1_FT01      334802 non-null  float64
 16  P1_FT01Z     334802 non-null  float64
 17  P1_FT02      334802 non-null  float64
 18  P1_FT02Z     334802 non-null  float64
 19  P1_FT03      334802 non-null  float64
 20  P1_FT03Z     334802 non-null  float64
 21  P1_LCV01D    334802 non-null  float64
 22  P1_LCV01Z    334802 non-null  float64
 23  P1_LIT01     334802 non-null  float64
 24  P1_PCV01D    334802 non-null  float64
 25  P1_PCV01Z    334802 non-null  float64
 26  P1_PCV02D    334802 non-null  float64
 27  P1_PCV02Z    334802 non-null  float64
 28  P1_PIT01     334802 non-null  float64
 29  P1_PIT02     334802 non-null  float64
 30  P1_PP01AD    334802 non-null  int64
 31  P1_PP01AR    334802 non-null  int64
 32  P1_PP01BD    334802 non-null  int64
 33  P1_PP01BR    334802 non-null  int64
 34  P1_PP02D     334802 non-null  int64
 35  P1_PP02R     334802 non-null  int64
 36  P1_STSP      334802 non-null  int64
 37  P1_TIT01     334802 non-null  float64
 38  P1_TIT02     334802 non-null  float64
 39  P2_24Vdc     334802 non-null  float64
 40  P2_ASD       334802 non-null  int64
 41  P2_AutoGO    334802 non-null  int64
 42  P2_CO_rpm    334802 non-null  float64
 43  P2_Emerg     334802 non-null  int64
 44  P2_HILout    334802 non-null  float64
 45  P2_MSD       334802 non-null  float64
 46  P2_ManualGO  334802 non-null  int64
 47  P2_OnOff     334802 non-null  int64
 48  P2_RTR       334802 non-null  int64
 49  P2_SIT01     334802 non-null  float64
 50  P2_SIT02     334802 non-null  float64
 51  P2_TripEx    334802 non-null  int64
 52  P2_VT01      334802 non-null  float64
 53  P2_VTR01     334802 non-null  int64
 54  P2_VTR02     334802 non-null  int64
 55  P2_VTR03     334802 non-null  int64
 56  P2_VTR04     334802 non-null  int64
 57  P2_VXT02     334802 non-null  float64
 58  P2_VXT03     334802 non-null  float64
 59  P2_VYT02     334802 non-null  float64
 60  P2_VYT03     334802 non-null  float64
 61  P3_FIT01     334802 non-null  float64
 62  P3_LCP01D    334802 non-null  float64
 63  P3_LCV01D    334802 non-null  int64
 64  P3_LH        334802 non-null  int64
 65  P3_LIT01     334802 non-null  float64
 66  P3_LL        334802 non-null  int64
 67  P3_PIT01     334802 non-null  float64
 68  P4_HT_FD     334802 non-null  float64
 69  P4_HT_LD     334802 non-null  float64
 70  P4_HT_PO     334802 non-null  float64
 71  P4_HT_PS     334802 non-null  int64
 72  P4_LD        334802 non-null  float64
 73  P4_ST_FD     334802 non-null  float64
 74  P4_ST_GOV    334802 non-null  float64
 75  P4_ST_LD     334802 non-null  float64
 76  P4_ST_PO     334802 non-null  float64
 77  P4_ST_PS     334802 non-null  int64
 78  P4_ST_PT01   334802 non-null  float64
 79  P4_ST_TT01   334802 non-null  float64
 80  attack       334802 non-null  int64
dtypes: datetime64[ns](1), float64(56), int64(24)
memory usage: 206.9 MB

In [45]:
# test 데이터 프레임의 time 컬럼의 데이터 타입을 datetime64[ns] 형태로 변경하세요.
# to_datetime 함수를 사용하세요.
test['time'] = pd.to_datetime(test['time'])
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190803 entries, 0 to 190802
Data columns (total 80 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   time         190803 non-null  datetime64[ns]
 1   P1_B2004     190803 non-null  float64
 2   P1_B2016     190803 non-null  float64
 3   P1_B3004     190803 non-null  float64
 4   P1_B3005     190803 non-null  float64
 5   P1_B4002     190803 non-null  float64
 6   P1_B4005     190803 non-null  float64
 7   P1_B400B     190803 non-null  float64
 8   P1_B4022     190803 non-null  float64
 9   P1_FCV01D    190803 non-null  float64
 10  P1_FCV01Z    190803 non-null  float64
 11  P1_FCV02D    190803 non-null  float64
 12  P1_FCV02Z    190803 non-null  float64
 13  P1_FCV03D    190803 non-null  float64
 14  P1_FCV03Z    190803 non-null  float64
 15  P1_FT01      190803 non-null  float64
 16  P1_FT01Z     190803 non-null  float64
 17  P1_FT02      190803 non-null  float64
 18  P1_FT02Z     190803 non-null  float64
 19  P1_FT03      190803 non-null  float64
 20  P1_FT03Z     190803 non-null  float64
 21  P1_LCV01D    190803 non-null  float64
 22  P1_LCV01Z    190803 non-null  float64
 23  P1_LIT01     190803 non-null  float64
 24  P1_PCV01D    190803 non-null  float64
 25  P1_PCV01Z    190803 non-null  float64
 26  P1_PCV02D    190803 non-null  float64
 27  P1_PCV02Z    190803 non-null  float64
 28  P1_PIT01     190803 non-null  float64
 29  P1_PIT02     190803 non-null  float64
 30  P1_PP01AD    190803 non-null  int64
 31  P1_PP01AR    190803 non-null  int64
 32  P1_PP01BD    190803 non-null  int64
 33  P1_PP01BR    190803 non-null  int64
 34  P1_PP02D     190803 non-null  int64
 35  P1_PP02R     190803 non-null  int64
 36  P1_STSP      190803 non-null  int64
 37  P1_TIT01     190803 non-null  float64
 38  P1_TIT02     190803 non-null  float64
 39  P2_24Vdc     190803 non-null  float64
 40  P2_ASD       190803 non-null  int64
 41  P2_AutoGO    190803 non-null  int64
 42  P2_CO_rpm    190803 non-null  float64
 43  P2_Emerg     190803 non-null  int64
 44  P2_HILout    190803 non-null  float64
 45  P2_MSD       190803 non-null  float64
 46  P2_ManualGO  190803 non-null  int64
 47  P2_OnOff     190803 non-null  int64
 48  P2_RTR       190803 non-null  int64
 49  P2_SIT01     190803 non-null  float64
 50  P2_SIT02     190803 non-null  float64
 51  P2_TripEx    190803 non-null  int64
 52  P2_VT01      190803 non-null  float64
 53  P2_VTR01     190803 non-null  int64
 54  P2_VTR02     190803 non-null  int64
 55  P2_VTR03     190803 non-null  int64
 56  P2_VTR04     190803 non-null  int64
 57  P2_VXT02     190803 non-null  float64
 58  P2_VXT03     190803 non-null  float64
 59  P2_VYT02     190803 non-null  float64
 60  P2_VYT03     190803 non-null  float64
 61  P3_FIT01     190803 non-null  float64
 62  P3_LCP01D    190803 non-null  int64
 63  P3_LCV01D    190803 non-null  int64
 64  P3_LH        190803 non-null  int64
 65  P3_LIT01     190803 non-null  float64
 66  P3_LL        190803 non-null  int64
 67  P3_PIT01     190803 non-null  float64
 68  P4_HT_FD     190803 non-null  float64
 69  P4_HT_LD     190803 non-null  float64
 70  P4_HT_PO     190803 non-null  float64
 71  P4_HT_PS     190803 non-null  int64
 72  P4_LD        190803 non-null  float64
 73  P4_ST_FD     190803 non-null  float64
 74  P4_ST_GOV    190803 non-null  float64
 75  P4_ST_LD     190803 non-null  float64
 76  P4_ST_PO     190803 non-null  float64
 77  P4_ST_PS     190803 non-null  int64
 78  P4_ST_PT01   190803 non-null  float64
 79  P4_ST_TT01   190803 non-null  float64
dtypes: datetime64[ns](1), float64(55), int64(24)
memory usage: 116.5 MB

In [50]:
# train 데이터 프레임을 dt 접근자를 이용하여 year, month, day, hour, minitue, second, week, weekday를 추출하여 컬럼으로 생성하세요
# series.dt.year
train['year'] = train['time'].dt.year
train['month'] = train['time'].dt.month
train['day'] = train['time'].dt.day
train['hour'] = train['time'].dt.hour
train['minute'] = train['time'].dt.minute
train['second'] = train['time'].dt.second
train['week'] = train['time'].dt.week
train['weekday'] = train['time'].dt.weekday
train

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  if __name__ == '__main__':

                      time  P1_B2004  P1_B2016  ...  second  week  weekday
0      2020-07-11 00:00:00   0.10121   1.29784  ...       0    28        5
1      2020-07-11 00:00:01   0.10121   1.29692  ...       1    28        5
2      2020-07-11 00:00:02   0.10121   1.29631  ...       2    28        5
3      2020-07-11 00:00:03   0.10121   1.28685  ...       3    28        5
4      2020-07-11 00:00:04   0.10121   1.28807  ...       4    28        5
...                    ...       ...       ...  ...     ...   ...      ...
334797 2020-07-10 23:59:56   0.10121   1.30608  ...      56    28        4
334798 2020-07-10 23:59:57   0.10121   1.30226  ...      57    28        4
334799 2020-07-10 23:59:58   0.10121   1.29707  ...      58    28        4
334800 2020-07-10 23:59:59   0.10121   1.29906  ...      59    28        4
334801 2020-07-11 00:00:00   0.10121   1.29784  ...       0    28        5

[334802 rows x 89 columns]

In [51]:
# test 데이터 프레임을 dt 접근자를 이용하여 year, month, day, hour, minitue, second, week, weekday를 추출하여 컬럼으로 생성하세요
# series.dt.year
test['year'] = test['time'].dt.year
test['month'] = test['time'].dt.month
test['day'] = test['time'].dt.day
test['hour'] = test['time'].dt.hour
test['minute'] = test['time'].dt.minute
test['second'] = test['time'].dt.second
test['week'] = test['time'].dt.week
test['weekday'] = test['time'].dt.weekday
test

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  if __name__ == '__main__':

                      time  P1_B2004  P1_B2016  ...  second  week  weekday
0      2020-07-07 15:00:00   0.10178   1.58771  ...       0    28        1
1      2020-07-07 15:00:01   0.10178   1.58725  ...       1    28        1
2      2020-07-07 15:00:02   0.10178   1.59519  ...       2    28        1
3      2020-07-07 15:00:03   0.10178   1.59747  ...       3    28        1
4      2020-07-07 15:00:04   0.10178   1.59869  ...       4    28        1
...                    ...       ...       ...  ...     ...   ...      ...
190798 2020-07-28 22:59:56   0.10111   1.27011  ...      56    31        1
190799 2020-07-28 22:59:57   0.10111   1.26782  ...      57    31        1
190800 2020-07-28 22:59:58   0.10111   1.26279  ...      58    31        1
190801 2020-07-28 22:59:59   0.10111   1.26370  ...      59    31        1
190802 2020-07-28 23:00:00   0.10111   1.26141  ...       0    31        1

[190803 rows x 88 columns]

In [54]:
# 기존 target_col 컬럼에 year, month, day, hour, minute, second, week, weekday를 추가하세요.
  # target_col2 변수에 저장하세요.
target_col2 = target_cols.extend(['year', 'month', 'day', 'hour', 'minute', 'second', 'week', 'weekday'])

In [58]:
target_col2 = target_cols

In [59]:
# train 데이터 프레임에서 target_col2 컬럼만 선택하여 X에 저장하세요
X = train[list(target_col2)]
X

        P1_B2004  P1_B2016   P1_B3004  ...  second  week  weekday
0        0.10121   1.29784  397.63785  ...       0    28        5
1        0.10121   1.29692  397.63785  ...       1    28        5
2        0.10121   1.29631  397.63785  ...       2    28        5
3        0.10121   1.28685  397.63785  ...       3    28        5
4        0.10121   1.28807  397.63785  ...       4    28        5
...          ...       ...        ...  ...     ...   ...      ...
334797   0.10121   1.30608  397.63785  ...      56    28        4
334798   0.10121   1.30226  397.63785  ...      57    28        4
334799   0.10121   1.29707  397.63785  ...      58    28        4
334800   0.10121   1.29906  397.63785  ...      59    28        4
334801   0.10121   1.29784  397.63785  ...       0    28        5

[334802 rows x 87 columns]

In [73]:
# X 데이터 프레임의 분산을 확인하세요.
  # 결과를 오름차순으로 정렬하세요.
X.var().sort_values(ascending=True)

P2_RTR       0.000000e+00
P1_PP01AD    0.000000e+00
P2_TripEx    0.000000e+00
P1_PP01AR    0.000000e+00
P2_VTR01     0.000000e+00
                 ...
P3_FIT01     3.199248e+06
P4_ST_GOV    3.257661e+06
P3_LIT01     1.777464e+07
P3_LCP01D    2.622846e+07
P3_LCV01D    4.655434e+07
Length: 87, dtype: float64

In [79]:
# 분산값이 0인 컬럼을 조회하세요.
## 분산값이 0인 컬럼은 같은값을 가진 경우이므로 ml 의 경우 제거해주는게 좋음
X.var()[X.var() == 0]

P1_PP01AD      0.0
P1_PP01AR      0.0
P1_PP01BD      0.0
P1_PP01BR      0.0
P1_PP02D       0.0
P1_PP02R       0.0
P1_STSP        0.0
P2_ASD         0.0
P2_AutoGO      0.0
P2_ManualGO    0.0
P2_RTR         0.0
P2_TripEx      0.0
P2_VTR01       0.0
P2_VTR02       0.0
P2_VTR03       0.0
P2_VTR04       0.0
P3_LH          0.0
P3_LL          0.0
year           0.0
month          0.0
dtype: float64

In [81]:
# 위의 결과의 index 정보를 이용하여 해당 컬럼을 X 데이터 프레임에서 삭제하세요.
  # drop으로 위에서 분산값이 0인 df의 index들만 제거
  # inplace는 사본이 아닌 원본에 바로 적용할 수 있는 옵션
X.drop(X.var()[X.var() == 0].index, axis = 1, inplace=True)
X

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

        P1_B2004  P1_B2016   P1_B3004  ...  second  week  weekday
0        0.10121   1.29784  397.63785  ...       0    28        5
1        0.10121   1.29692  397.63785  ...       1    28        5
2        0.10121   1.29631  397.63785  ...       2    28        5
3        0.10121   1.28685  397.63785  ...       3    28        5
4        0.10121   1.28807  397.63785  ...       4    28        5
...          ...       ...        ...  ...     ...   ...      ...
334797   0.10121   1.30608  397.63785  ...      56    28        4
334798   0.10121   1.30226  397.63785  ...      57    28        4
334799   0.10121   1.29707  397.63785  ...      58    28        4
334800   0.10121   1.29906  397.63785  ...      59    28        4
334801   0.10121   1.29784  397.63785  ...       0    28        5

[334802 rows x 67 columns]

In [82]:
# LogisticRegression 모델을 이용하여 모델을 학습하세요.
  # random_state를 0으로 지정하세요.
model = LogisticRegression(random_state=0).fit(X, Y)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [83]:
# X 데이터 프레임의 컬럼명을 추출하세요
X.columns

Index(['P1_B2004', 'P1_B2016', 'P1_B3004', 'P1_B3005', 'P1_B4002', 'P1_B4005',
       'P1_B400B', 'P1_B4022', 'P1_FCV01D', 'P1_FCV01Z', 'P1_FCV02D',
       'P1_FCV02Z', 'P1_FCV03D', 'P1_FCV03Z', 'P1_FT01', 'P1_FT01Z', 'P1_FT02',
       'P1_FT02Z', 'P1_FT03', 'P1_FT03Z', 'P1_LCV01D', 'P1_LCV01Z', 'P1_LIT01',
       'P1_PCV01D', 'P1_PCV01Z', 'P1_PCV02D', 'P1_PCV02Z', 'P1_PIT01',
       'P1_PIT02', 'P1_TIT01', 'P1_TIT02', 'P2_24Vdc', 'P2_CO_rpm', 'P2_Emerg',
       'P2_HILout', 'P2_MSD', 'P2_OnOff', 'P2_SIT01', 'P2_SIT02', 'P2_VT01',
       'P2_VXT02', 'P2_VXT03', 'P2_VYT02', 'P2_VYT03', 'P3_FIT01', 'P3_LCP01D',
       'P3_LCV01D', 'P3_LIT01', 'P3_PIT01', 'P4_HT_FD', 'P4_HT_LD', 'P4_HT_PO',
       'P4_HT_PS', 'P4_LD', 'P4_ST_FD', 'P4_ST_GOV', 'P4_ST_LD', 'P4_ST_PO',
       'P4_ST_PS', 'P4_ST_PT01', 'P4_ST_TT01', 'day', 'hour', 'minute',
       'second', 'week', 'weekday'],
      dtype='object')

In [84]:
# test 데이터 프레임에서 해당 컬럼을 추출하세요
test[X.columns]

        P1_B2004  P1_B2016   P1_B3004  ...  second  week  weekday
0        0.10178   1.58771  403.78854  ...       0    28        1
1        0.10178   1.58725  403.78854  ...       1    28        1
2        0.10178   1.59519  403.78854  ...       2    28        1
3        0.10178   1.59747  403.78854  ...       3    28        1
4        0.10178   1.59869  403.78854  ...       4    28        1
...          ...       ...        ...  ...     ...   ...      ...
190798   0.10111   1.27011  403.41025  ...      56    31        1
190799   0.10111   1.26782  403.41025  ...      57    31        1
190800   0.10111   1.26279  403.41025  ...      58    31        1
190801   0.10111   1.26370  403.41025  ...      59    31        1
190802   0.10111   1.26141  403.41025  ...       0    31        1

[190803 rows x 67 columns]

In [85]:
# 학습된 모델을 사용하여 변환된 데이터를 예측하세요.
  # 예측 결과는 predict 변수에 저장하세요.
predict = model.predict(test[X.columns])

In [86]:
# submission 데이터 프레임의 attack 컬럼에 예측한 값을 대입하세요.
submission['attack'] = predict
submission

                       time  attack
0       2020-07-07 15:00:00       0
1       2020-07-07 15:00:01       0
2       2020-07-07 15:00:02       0
3       2020-07-07 15:00:03       0
4       2020-07-07 15:00:04       0
...                     ...     ...
190798  2020-07-28 22:59:56       0
190799  2020-07-28 22:59:57       0
190800  2020-07-28 22:59:58       0
190801  2020-07-28 22:59:59       0
190802  2020-07-28 23:00:00       0

[190803 rows x 2 columns]

In [87]:
# pjt 객체의 submit 함수를 이용하여 결과를 제출하세요.
pjt.submit(submission)

파일을 저장하였습니다. 파일명: submission-05-25-05.csv
제출 여부 :success
오늘 제출 횟수 : 3
제출 결과:0.03315666211416879

In [88]:
%%time
# RandomForestClassifier 모델을 이용하여 모델을 학습하세요.
  # random_state를 0으로 지정하세요.
  # n_jobs를 -1로 지정하세요
model = RandomForestClassifier(random_state=0, n_jobs=-1).fit(X,Y)

CPU times: user 6min 41s, sys: 272 ms, total: 6min 41s
Wall time: 3min 40s

In [89]:
# 학습된 모델을 사용하여 변환된 데이터를 예측하세요.
  # 예측 결과는 predict 변수에 저장하세요.
predict = model.predict(test[X.columns])

In [90]:
# submission 데이터 프레임의 attack 컬럼에 예측한 값을 대입하세요.
submission['attack'] = predict
submission

                       time  attack
0       2020-07-07 15:00:00       0
1       2020-07-07 15:00:01       0
2       2020-07-07 15:00:02       0
3       2020-07-07 15:00:03       0
4       2020-07-07 15:00:04       0
...                     ...     ...
190798  2020-07-28 22:59:56       0
190799  2020-07-28 22:59:57       0
190800  2020-07-28 22:59:58       0
190801  2020-07-28 22:59:59       0
190802  2020-07-28 23:00:00       0

[190803 rows x 2 columns]

In [91]:
# pjt 객체의 submit 함수를 이용하여 결과를 제출하세요.
pjt.submit(submission)

파일을 저장하였습니다. 파일명: submission-05-30-02.csv
제출 여부 :success
오늘 제출 횟수 : 4
제출 결과:0.35247544438898215

# 데이터 전처리, 다른 모델을 사용하여 성능을 더 높여보세요